
/*************************/
/******* SLIDESHOW *******/
/*****************edit****/

#slideshow_container{
	width:500; height:0;
	position:absolute;
	margin:auto;
	top:0; left:0; right:0; bottom:0;
}

#slideshow{
	border: 1px solid rgba(0,0,0,0.2);
	width:960px;
	height:540px;
	/* Center this thing */
	position: absolute;
	left:-480px;
	top:-270px;

}
.object{
	position: absolute;
	transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
.fader{
	transition: opacity 0.5s ease-in-out !important;
}

* {box-sizing:border-box}


/* Hide the images by default */
.mySlides {
  display: none;
}

.mySubSlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.bottomdot {
  position:fixed;
  bottom: 8px;
  text-align: center;
  width: 100%;
}


.dot{
	width: 20px;
	height: 20px;
	border-radius: 40px;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}

.active, .dot:hover {
  background-color: #f7f7f7;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

